<section class="container-fluid">
    <section class="ui-section">
        <md-progress-linear ng-show="bookingCtrl.progress" md-mode="indeterminate"></md-progress-linear>
        <div class="clearfix">
            <h2 class="section-header">Registrar Reserva:</h2>
        </div>

        <md-content class="md-padding">
            <form name="booking" ng-submit="$event.preventDefault()">
              <div class="row-fluid">
                <div class="col-xs-12">
                  <md-input-container class="full-width">
                    <label>Día de Reservación</label>
                    <md-select name="DaysBookings" ng-model="bookingCtrl.selectDay" ng-change="bookingCtrl.selectedItemChange()" required="">
                      <md-option ng-repeat="time in bookingCtrl.listDays" value="{{time.value}}">{{time.display}}</md-option>
                    </md-select>
                    <div class="errors" ng-messages="booking.DaysBookings.$error">
                      <div ng-message="required">Selecciona un Día</div>
                    </div>
                      <!-- <md-autocomplete name="DaysBookings" class="input-autocomplete"
                          required=""
                          flex=""
                          md-input-name="DaysBookingsAuto"
                          md-selected-item="bookingCtrl.selectedItem"
                          md-search-text="bookingCtrl.searchText"
                          md-selected-item-change="bookingCtrl.selectedItemChange(item)"
                          md-items="item in bookingCtrl.querySearch(bookingCtrl.searchText)"
                          md-item-text="item.display"
                          md-require-match=""
                          md-min-length="0"
                          md-floating-label="Día de Reservación">
                      <md-item-template>
                        <span md-highlight-text="bookingCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                      </md-item-template>
                    </md-autocomplete> -->
                  </md-input-container>
                </div>
                <div class="col-xs-12">
                  <md-input-container class="full-width">
                    <label>Hora de la Reserva</label>
                    <md-select name="HoursBookings" ng-model="bookingCtrl.selectTime" required="">
                      <md-option ng-repeat="time in bookingCtrl.listRanges" value="{{time.value}}">{{time.display}}</md-option>
                    </md-select>
                    <div class="errors" ng-messages="booking.HoursBookings.$error">
                      <div ng-message="required">Selecciona una hora</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
              <div class="col-xs-12">
                  <md-button class="md-raised btn-w-sm md-primary" ng-click="bookingCtrl.save();">Agendar</md-button>
              </div>
            </form>
        </md-content>

        <!-- <div class="card bg-white">
            <div class="row">
                <div class="col-sm-4">
                    <md-input-container class="full-width">
                        <label>Ingresar la Fecha</label>
                        <md-datepicker ng-model="bookingCtrl.myDate" ng-change="bookingCtrl.changeTimes()" ng-requeried="true"
                            md-min-date="bookingCtrl.minDate"
                            md-dates-filter="bookingCtrl.onlyWeekendsPredicate">
                        </md-datepicker>
                    </md-input-container>
                </div>
                <div class="col-sm-4">
                    <md-input-container class="full-width">
                        <label>Seleccione la Hora</label>
                        <md-select ng-model="bookingCtrl.selectTime" aria-label="select" ng-required="true">
                            <md-option ng-repeat="time in bookingCtrl.listxFech" value="{{time.id}}">{{time.hours}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
        </div> -->
    </section>
</section>
