<section class="container-fluid">
    <section class="ui-section">
        <md-progress-linear ng-show="bookingsCtrl.progress" md-mode="indeterminate"></md-progress-linear>
        <div class="clearfix">
            <h1 class="section-header">Mis reservas:</h1>
        </div>
        <div class="row">
            <div ng-class="bookingsCtrl.Screen" ng-repeat="booking in bookingsCtrl.listBranchs">
                <div class="tickets">
                    <span class="circle"></span>
                    <div class="contenido">
                        <md-fab-speed-dial md-open="false" md-direction="up" class="md-fling md-fab-top-right md-hover-full speed-dial">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-mini md-white" ng-click="bookingsCtrl.cancelBooking($event,booking)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    <md-tooltip>Cancelar Reserva</md-tooltip>
                                </md-button>
                            </md-fab-trigger>
                        </md-fab-speed-dial>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Servicio</label>
                                <p>{{booking.service.name}}</p>
                            </div>
                            <div class="col-xs-3">
                                <label>Código</label>
                                <p>{{booking.code}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Agencia</label>
                                <p>{{booking.branch.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Fecha</label>
                                <p>{{bookingsCtrl.getFechBookings(booking.start_time)}}</p>
                            </div>
                            <div class="col-xs-3">
                                <label>Desde</label>
                                <p>{{bookingsCtrl.getHoraBookings(booking.start_time)}}</p>
                            </div>
                            <div class="col-xs-3">
                                <label>Hasta</label>
                                <p>{{bookingsCtrl.getHoraBookings(booking.end_time)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="md-padding actionButtons btn-float-next" layout="column">
    <md-fab-speed-dial md-open="false" md-direction="up" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn" ng-click="bookingsCtrl.addBooking();">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
