<section class="page">
    <section class="ui-section">
      <md-progress-linear ng-show="branchCtrl.progress" md-mode="indeterminate"></md-progress-linear>
      <div class="clearfix">
        <h2 class="section-header">Seleccione una agencia:</h2>
      </div>
      <div class="card bg-white" ng-click="branchCtrl.navigateTo(branch,$event)" ng-repeat="branch in branchCtrl.listBranchs">
          <div class="card-content">
              <div class="card-title">
                <i class="fa fa-home icon-color" aria-hidden="true"></i>
                <span>&nbsp;{{branch.name}}</span>
              </div>
              <div class="card-content">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>&nbsp;{{branch.address}}</span>
              </div>
          </div>
      </div>
    </section>
</section>
