
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <!--<li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>-->
        <li><a md-button aria-label="menu" ui-sref="bookings"><i class="material-icons">event</i><span data-translate="Reservas"></span></a></li>
        <li><a md-button aria-label="menu" ui-sref="tickets"><i class="material-icons">receipt</i><span data-translate="Tickets"></span></a></li>
        <li><a md-button aria-label="menu" ui-sref="login"><i class="material-icons">power_settings_new</i><span data-translate="Salir"></span></a></li>
        <!--<li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">home</i><span data-translate="DASHBOARD"></span></a></li>
        <li><a md-button aria-label="menu" href="javascript:;" toggle-quickview data-target="customizer"><i class="material-icons">settings</i><span data-translate="CUSTOMIZER"></span></a></li>
        <li>
            <a md-button aria-label="menu" href="#!/ui"><i class="material-icons">card_giftcard</i><span><span data-translate="MATERIAL"></span> UI</span></a>
            <ul>
                <li><a md-button aria-label="menu" href="#!/ui/typography"><i class="fa fa-circle"></i><span data-translate="TYPOGRAPHY"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/buttons"><i class="fa fa-circle"></i><span data-translate="BUTTONS"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/icons"><i class="fa fa-circle"></i><span data-translate="ICONS"></span> <span class="badge badge-info">3</span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/lists"><i class="fa fa-circle"></i><span data-translate="LISTS"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/components"><i class="fa fa-circle"></i><span data-translate="COMPONENTS"></span> <span class="badge badge-danger">17</span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/cards"><i class="fa fa-circle"></i><span data-translate="CARDS"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/pricing-tables"><i class="fa fa-circle"></i><span data-translate="PRICING_TABLES"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/timeline"><i class="fa fa-circle"></i><span data-translate="TIMELINE"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/map/maps"><i class="fa fa-circle"></i><span data-translate="MAPS"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/ui/grids"><i class="fa fa-circle"></i><span data-translate="GRIDS"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/page"><i class="material-icons">pages</i><span data-translate="PAGES"></span></a>
            <ul>
                <li><a md-button aria-label="menu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i><span data-translate="LANDING_PAGE"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/signin"><i class="fa fa-circle"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/signup"><i class="fa fa-circle"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/forgot-password"><i class="fa fa-circle"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/profile"><i class="fa fa-circle"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/invoice"><i class="fa fa-circle"></i><span data-translate="INVOICE"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/404"><i class="fa fa-circle"></i>404 <span data-translate="ERROR"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/500"><i class="fa fa-circle"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/page/blank"><i class="fa fa-circle"></i><span data-translate="BLANK_PAGE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/table"><i class="material-icons">view_list</i><span data-translate="TABLES"></span></a>
            <ul>
                <li><a md-button aria-label="menu" href="#!/table/static"><i class="fa fa-circle"></i><span data-translate="STATIC_TABLES"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/table/responsive"><i class="fa fa-circle"></i><span data-translate="RESPONSIVE_TABLES"></span> <span class="badge badge-info">2</span></a></li>
                <li><a md-button aria-label="menu" href="#!/table/data"><i class="fa fa-circle"></i><span data-translate="DATA_TABLES"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/form"><i class="material-icons">edit</i><span data-translate="FORMS"></span></a>
            <ul>
                <li><a md-button aria-label="menu" href="#!/form/elements"><i class="fa fa-circle"></i><span data-translate="FORM_ELEMENTS"></span> <span class="badge badge-info">10</span></a></li>
                <li><a md-button aria-label="menu" href="#!/form/validation"><i class="fa fa-circle"></i><span data-translate="FORM_VALIDATION"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/form/wizard"><i class="fa fa-circle"></i><span data-translate="FORM_WIZARD"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/form/editor"><i class="fa fa-circle"></i><span data-translate="EDITOR"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/form/layouts"><i class="fa fa-circle"></i><span data-translate="FORM_LAYOUTS"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/chart"><i class="material-icons">insert_chart</i><span data-translate="CHARTS"></span></a>
            <ul>
                <li><a md-button aria-label="menu" href="#!/chart/echarts-line"><i class="fa fa-circle"></i>ECharts - <span data-translate="LINE"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/chart/echarts-bar"><i class="fa fa-circle"></i>ECharts - <span data-translate="BAR"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/chart/echarts-pie"><i class="fa fa-circle"></i>ECharts - <span data-translate="PIE"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/chart/echarts-scatter"><i class="fa fa-circle"></i>ECharts - <span data-translate="SCATTER"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/chart/echarts-more"><i class="fa fa-circle"></i>ECharts - <span data-translate="MORE"></span></a></li>
            </ul>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-title"> <span data-translate="FEATURES"></span> </li>
        <li class="li-small"><a href="#!/ui/components"><i class="fa fa-circle color-info"></i> <span data-translate="MATERIAL_COMPO"></span></a></li>
        <li class="li-small"><a href="#!/form/elements"><i class="fa fa-circle color-success"></i> <span data-translate="MATERIAL_ELEMENTS"></span></a></li>
        <li class="li-small"><a href="#!/ui/icons"><i class="fa fa-circle color-danger"></i> <span data-translate="MATERIAL_ICONS"></span></a></li>-->
    </ul>
</div>
