<section class="container-fluid">
    <section class="ui-section">
        <div class="clearfix">
            <h2 class="section-header">Seleccione el Servicio que desea solicitar:</h2>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">
                <div class="container-fluid card bg-white hero-image" ng-click="mainCtrl.navigateTo('1');">
                  <md-tooltip>Generar Ticket</md-tooltip>
                  <div class="col-sm-5 hero-icon">
                    <i class="fa fa-ticket fa-fw material-icons" aria-hidden="true"></i>
                    <!-- <img src="../assets/images/ticket.png" alt="Generar un Ticket"> -->
                  </div>
                  <div class="col-sm-7 hero-text">
                    <h3 class="card-title">Generar Ticket</h3>
                    <p class="card-content">Para solicitar un Ticket, seleccione en el Mapa la Agencia y luego el Tipo de Atención que requiere.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-fluid card bg-white hero-image" ng-click="mainCtrl.navigateTo('0');">
                    <md-tooltip>Solicitar Reserva</md-tooltip>
                    <div class="col-sm-5 hero-icon">
                      <i class="fa fa-address-book fa-fw material-icons" aria-hidden="true"></i>
                      <!-- <img src="../assets/images/agendamiento.png" alt="" class="img-responsive"> -->
                    </div>
                    <div class="hero-text col-sm-7">
                      <h3 class="card-title">Solicitar Reserva</h3>
                      <p class="card-content">Genere su Reserva dentro del rango de dias y horas disponibles, según el tipo de Atención que desea.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
