<section class="page">
    <md-progress-linear ng-show="serviceCtrl.progress" md-mode="indeterminate"></md-progress-linear>
    <section class="ui-section">
      <div class="clearfix">
        <h2 class="section-header">Seleccione el Tipo de Atención:</h2>
      </div>
      <div class="card bg-white" ng-click="serviceCtrl.navigateTo(service.id)" ng-repeat="service in serviceCtrl.listServices">
          <div class="card-content">
              <div class="card-title">
                <md-icon class="material-icons icon-color">branding_watermark</md-icon>
                <span>&nbsp;{{service.name}}</span>
              </div>
          </div>
      </div>
    </section>
</section>
