<div class="container-fluid">
  <md-progress-linear ng-show="ticketsCtrl.progress" md-mode="indeterminate"></md-progress-linear>
    <div class="ui-section">
      <div class="row">
          <div ng-class="ticketSummaryCtrl.Screen">
              <div class="row">
                <div class="dividir-note"></div>
                <div class="dividir-note"></div>
                <div class="col-xs-12" ng-hide="ticketSummaryCtrl.viewTimer">
                    <div class="row viewTimer">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-6 SinPadding">
                                    <i class="fa fa-group fa-3x" aria-hidden="true"></i><br>
                                    <md-tooltip>PersonasRestantes</md-tooltip>
                                    <span>PERSONAS<br>RESTANTES</span>
                                </div>
                                <div class="col-xs-6 Position">
                                    <span class="data">{{ticketSummaryCtrl.ticket.position}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-6 SinPadding">
                                    <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i><br>
                                    <md-tooltip>Tiempo de Espera</md-tooltip>
                                    <span>ESTIMADO</span>
                                </div>
                                <div class="col-xs-6 TimeWait">
                                    <span class="col-xs-12 SinPadding">
                                <md-tooltip>Estimado Mínimo - Máximo</md-tooltip>
                                ~{{ticketSummaryCtrl.ticket.low_estimated_time}} min - ~{{ticketSummaryCtrl.ticket.high_estimated_time}} min
                              </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tickets col-xs-12">
                  <div class="contenido">
                    <md-fab-speed-dial md-open="false" md-direction="up" class="md-fling md-fab-top-left md-hover-full speed-dial">
                      <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-mini md-white" ng-click="ticketSummaryCtrl.showTimer($event,ticketSummaryCtrl.ticket)">
                          <i ng-class="ticketSummaryCtrl.updateTimer" aria-hidden="true"></i>
                          <md-tooltip>Actualizar Tiempo de Espera</md-tooltip>
                        </md-button>
                      </md-fab-trigger>
                    </md-fab-speed-dial>
                    <md-fab-speed-dial md-open="false" md-direction="up" class="md-fling md-fab-top-right md-hover-full speed-dial">
                      <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-mini md-white" ng-click="ticketSummaryCtrl.cancelTicket($event,ticketSummaryCtrl.ticket)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          <md-tooltip>Cancelar Ticket</md-tooltip>
                        </md-button>
                      </md-fab-trigger>
                    </md-fab-speed-dial>
                    <md-fab-speed-dial md-open="false" md-direction="up" class="switchStatus btn-float-rigth-1 md-fling md-fab-top-right md-hover-full speed-dial" style="height: 40px;">
                      <md-fab-trigger>
                        <md-switch ng-model="ticketSummaryCtrl.statusBool" aria-label="ticketSummaryCtrl.ticket.status" ng-click="ticketSummaryCtrl.updateTicket($event,ticketSummaryCtrl.ticket)">
                          <md-tooltip>{{ticketSummaryCtrl.ticket.status}}</md-tooltip>
                        </md-switch>
                      </md-fab-trigger>
                    </md-fab-speed-dial>
                    <div class="dividir-note"></div>
                    <div ng-repeat="print in ticketSummaryCtrl.printTicket">
                      <div ng-if="print.content === ''" class="row line-white"></div>
                      <div class="row"
                      ng-if="print.content !== ''"
                      ng-class="{'alignment-left':print.align === 'LEFT', 'alignment-center':print.align === 'CENTER', 'alignment-right':print.align === 'RIGHT'}">
                      <div ng-switch="print.font">
                        <span ng-switch-when="A_REGULAR" class="type-A">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="B_REGULAR" class="type-B">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="A_DOUBLE_HIGH" class="type-A-double-high">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="B_DOUBLE_HIGH" class="type-B-double-high">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="A_DOUBLE_WIDTH" class="type-A-double-width">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="B_DOUBLE_WIDTH" class="type-B-double-width">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="A_QUADRUPLE" class="type-A-quadruple">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="B_QUADRUPLE" class="type-B-quadruple">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="C_DOUBLE_HIGH" class="type-C-double-high">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-when="C_DOUBLE_WIDTH" class="type-C-double-width">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                        <span ng-switch-default class="type-C-quadruple">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
      </div>
    </div>
</div>
