<div class="">
    <div class="ui-section">
        <div class="card bg-white map-style">
            <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCuGMb6ZUQTnRDJIHL3Y0yEwSiGkBbiXOw">
                <map id="gmap" class="ui-map" zoom="14" center="current-location" scrollwheel="false">
                <marker id='{{branch.id}}'
                icon="{{branch.icon}}"
                position="{{branch.latitude}}, {{branch.longitude}}"
                ng-repeat="branch in ticketCtrl.listBranchs"
                title="{{branch.name}}"
                animation="Animation.DROP"
                on-click="ticketCtrl.showDetail(event, branch);">
                </marker>
                <info-window id="foo-iw" visible-on-marker="{{ticketCtrl.branch.id}}">
                    <div class="info-window" ng-non-bindable="">
                        <b>{{ticketCtrl.branch.name}}</b><div class="divider-sm"></div>
                        <span>{{ticketCtrl.branch.address}}</span><div class="divider-sm"></div>
                        <div ng-if="ticketCtrl.branch.status !== 'INACTIVE'">
                          <span ng-show="ticketCtrl.branch.congestion === 'LOW'">Congesti&oacute;n <b class="congestion-low">Baja</b></span>
                          <span ng-show="ticketCtrl.branch.congestion === 'MEDIUM'">Congesti&oacute;n <b class="congestion-medium">Media</b></span>
                          <span ng-show="ticketCtrl.branch.congestion === 'HIGH'">Congesti&oacute;n <b class="congestion-high">Alta</b></span>
                          <div class="divider-sm"></div>
                          <md-button class="md-raised btn-w-sm md-primary" ng-click="ticketCtrl.clicked(ticketCtrl.branch);">Ticket</md-button>
                        </div>
                        <span ng-if="ticketCtrl.branch.status === 'INACTIVE'">No disponible en este momento</span>
                    </div>
                </info-window>
              </map>
            </div>
        </div>
    </div>
</div>
