<section class="container-fluid">
    <md-progress-linear ng-show="ticketsCtrl.progress" md-mode="indeterminate"></md-progress-linear>
    <section class="ui-section">
        <div class="clearfix">
            <h2 class="section-header">Tickets Generados:</h2>
        </div>
        <div class="row">
            <div ng-class="ticketsCtrl.Screen" ng-repeat="ticket in ticketsCtrl.listTickets">
                <div class="row">
                    <div class="col-xs-12 card bg-white SinPadding SinMargin" ng-hide="ticket.viewTimer">
                        <div class="row viewTimer">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6 SinPadding">
                                        <i class="fa fa-group fa-3x" aria-hidden="true"></i><br>
                                        <md-tooltip>Personas Restantes</md-tooltip>
                                        <span>PERSONAS<br>RESTANTES</span>
                                    </div>
                                    <div class="col-xs-6 Position">
                                        <span class="data">{{ticket.position}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6 SinPadding">
                                        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i><br>
                                        <md-tooltip>Tiempo de Espera</md-tooltip>
                                        <span>ESTIMADO</span>
                                    </div>
                                    <div class="col-xs-6 TimeWait">
                                        <span class="col-xs-12 SinPadding">
                                    <md-tooltip>Estimado Mínimo - Máximo</md-tooltip>
                                    ~{{ticket.low_estimated_time}} min - ~{{ticket.high_estimated_time}} min
                                  </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tickets col-xs-12">
                        <div class="contenido">
                            <md-fab-speed-dial md-open="false" md-direction="up" class="md-fling md-fab-top-left md-hover-full speed-dial">
                                <md-fab-trigger>
                                    <md-button aria-label="menu" class="md-fab md-mini md-white" ng-click="ticketsCtrl.showTimer($event,ticket)">
                                        <i ng-class="ticketsCtrl.updateTimer" aria-hidden="true"></i>
                                        <md-tooltip>Actualizar Tiempo de Espera</md-tooltip>
                                    </md-button>
                                </md-fab-trigger>
                            </md-fab-speed-dial>
                            <md-fab-speed-dial md-open="false" md-direction="up" class="md-fling md-fab-top-right md-hover-full speed-dial">
                                <md-fab-trigger>
                                    <md-button aria-label="menu" class="md-fab md-mini md-white" ng-click="ticketsCtrl.cancelTicket($event,ticket)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <md-tooltip>Cancelar Ticket</md-tooltip>
                                    </md-button>
                                </md-fab-trigger>
                            </md-fab-speed-dial>
                            <md-fab-speed-dial md-open="false" md-direction="up" class="switchStatus btn-float-rigth-1 md-fling md-fab-top-right md-hover-full speed-dial" style="height: 40px;">
                                <md-fab-trigger>
                                    <md-tooltip>{{ticket.status}}</md-tooltip>
                                    <md-switch ng-model="ticket.statusBool" aria-label="ticket.status" ng-click="ticketsCtrl.updateTicket($event,ticket)">
                                    </md-switch>
                                </md-fab-trigger>
                            </md-fab-speed-dial>
                            <div class="dividir-note"></div>
                            <div class="card-content">
                                <div ng-repeat="print in ticket.print">
                                    <div ng-if="print.content === ''" class="row line-white">
                                    </div>
                                    <div class="row" ng-if="print.content !== ''" ng-class="{'alignment-left':print.align === 'LEFT', 'alignment-center':print.align === 'CENTER', 'alignment-right':print.align === 'RIGHT'}">
                                        <div ng-switch="print.font">
                                            <span ng-switch-when="A_REGULAR" class="type-A">
                                              {{print.previous}}{{print.content}}{{print.next}}
                                            </span>
                                            <span ng-switch-when="B_REGULAR" class="type-B">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="A_DOUBLE_HIGH" class="type-A-double-high">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="B_DOUBLE_HIGH" class="type-B-double-high">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="A_DOUBLE_WIDTH" class="type-A-double-width">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="B_DOUBLE_WIDTH" class="type-B-double-width">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="A_QUADRUPLE" class="type-A-quadruple">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="B_QUADRUPLE" class="type-B-quadruple">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="C_DOUBLE_HIGH" class="type-C-double-high">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-when="C_DOUBLE_WIDTH" class="type-C-double-width">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                            <span ng-switch-default class="type-C-quadruple">
                          {{print.previous}}{{print.content}}{{print.next}}
                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dividir-note"></div>
                <div class="dividir-note"></div>
            </div>
        </div>
        <div class="md-padding actionButtons btn-float-next" layout="column">
            <md-fab-speed-dial md-open="false" md-direction="up" class="md-scale md-fab-bottom-right md-hover-full speed-dial">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn" ng-click="ticketsCtrl.addTicket();">
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                </md-fab-trigger>
            </md-fab-speed-dial>
        </div>
    </section>
</section>
