.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)
}

#loader-container {
    background: #EDF0F1 url("../assets/images//audio.svg") no-repeat center center;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999
}

.wrapper-login {
    margin-top: 10%;
}

.wrapper-register {
    margin-top: 2%;
}

.tickets {
    font-family: "Arial" !important;
    position: relative !important;
    background: rgba(255, 255, 255, 0.9);
    float: left !important;
    padding: 10px 10px;
    margin: 10px 0px;
    width: 100% !important;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.tickets .md-button {
    min-height: 24px;
    min-width: 77px;
    font-size: 8px;
    font-weight: 800;
}

.tickets:after {
    content: "";
    position: absolute !important;
    z-index: 100;
    top: 0;
    left: 0;
    border-right: #efefef 20px solid;
    border-bottom: #efefef 20px solid;
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
}

.tickets:before {
    content: "";
    position: absolute !important;
    z-index: 100;
    top: 0;
    right: 0;
    border-left: #efefef 20px solid;
    border-bottom: #efefef 20px solid;
    -moz-border-radius: 0 0 0 20px;
    -webkit-border-radius: 0 0 0 20px;
    border-radius: 0 0 0 20px;
}

.tickets .contenido {
    outline: 1px rgba(29, 3, 3, 0.77) dashed;
    border: 1px rgba(0, 0, 0, 0.91) dashed;
    padding: 4px 10px 4px 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.tickets .contenido:after {
    content: "";
    position: absolute !important;
    z-index: 100;
    bottom: 0;
    left: 0;
    border-right: #efefef 20px solid;
    border-top: #efefef 20px solid;
    -moz-border-radius: 0 20px 0 0;
    -webkit-border-radius: 0 20px 0 0;
    border-radius: 0 20px 0 0;
}

.tickets .contenido:before {
    content: "";
    position: absolute !important;
    z-index: 1000;
    bottom: 0;
    right: 0;
    border-left: #efefef 20px solid;
    border-top: #efefef 20px solid;
    -moz-border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
    border-radius: 20px 0 0 0;
}

.tickets .contenido label {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.tickets .contenido p {
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.tickets .contenido:hover label {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
}

.tickets .contenido:hover p {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.type-A, .type-B, .type-A-double-high, .type-B-double-high, .type-A-double-width, .type-B-double-width, .type-A-quadruple, .type-B-quadruple, .type-C-double-high, .type-C-double-width, .type-C-quadruple {
    color: rgba(9, 9, 8, 0.8);
}

.btn-float-rigth-1 {
    right: 75px !important;
}

.dividir-note {
    height: 15px;
}

.height-full {
    height: 100%;
}

.viewTimer {
    transition: all linear 0.5s;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.Position {
    top: 7px;
    text-align: left;
    padding: 0px !important;
    font-size: 20px;
    font-weight: bold;
}

.TimeWait {
    top: 13px;
    padding: 0px !important;
    font-size: 11px;
    text-align: left;
}

.SinPadding {
    padding: 0 !important;
}

.SinMargin{
    margin: 0 !important;
}

.switchStatus {
    top: 7px !important;
}

input[type=search] {
    color: rgba(9, 9, 8, 0.8) !important;
}

md-switch.md-checked .md-ink-ripple {
    background: rgba(0, 150, 5, 0.55) !important;
}

md-switch.md-checked .md-bar {
    background: rgba(0, 150, 5, 0.55) !important;
}

.md-white {
    background: rgba(255, 255, 255, 0.9) !important;
    color: rgba(9, 9, 8, 0.8) !important;
}

.hero-image {
    background-color: rgba(251, 251, 251,1);
    position: relative;
    border-radius: 20px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.hero-image:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.hero-image .hero-icon {
    padding: 15px;
    font-size: 600%;
    text-align: center;
}

.hero-text {
    padding: 15px;
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    top: 50%;
    text-align: justify;
}

.hero-text h3{
  font-size: 17px;
}

.hero-text p{
  font-size: 14px;
}

.card .card-title{
  font-size: 18px !important;
}

.card .card-content .card-title {
    line-height: 38px !important;
}

.card .card-content {
    padding: 15px !important;
}
